/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}


$dark-color : #333333;

body {
  background: #ffffff;
}

.galleryHeader{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 75px;
}

.galleryHeaderTitle{
  display: inline-block;
  font-size: 65px;
  font-weight: bold;
  font-family: 'IM Fell English', serif;
  font-weight: bold;
  color: grey;
  width: 50%;

}

.galleryHeaderText{
  display: inline-block;
  width: 50%;
}

.galleryMainBox{
  display: flex;
  flex-flow:row;
  width: 1200px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.galleryMainPicture{
  display: inline-block;
  width: 100%;
}


.galleryMainPhoto{
  display: inline-block;
  width: 60%;
  margin-left: 5px;
  font-family: 'Raleway', sans-serif;
}

#galleryTitleName{
  margin-top: 15px;
  margin-bottom: 15px;
}

.galleryDescriptCopyright{
  margin-top: 25px;
}

.gallerySideGallery{
  display: inline-block;
  width: 35%;
  height: 35%;
  margin-top: 10px;
  margin-left: 45px;
  flex-flow: column nowrap;
  justify-content: center;

}
#gallerySidePicture{
  display: inline-block;
  width: 100%;
}

.gallerySideGalleryInfo{
  margin-top: 15px;
  margin-bottom: 25px;
}

//LISTING PAGE
.listingHeader{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 75px;
}

.listingHeaderTitle{
  display: inline-block;
  font-size: 65px;
  font-weight: bold;
  font-family: 'IM Fell English', serif;
  font-weight: bold;
  color: grey;
  width: 50%;

}

.listingHeaderText{
  display: inline-block;
  width: 50%;
}

.listingMainBox{
  display: flex;
  flex-flow:row;
  width: 1200px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.listingMainPicture{
  display: inline-block;
  width: 100%;
}


.listingMainPhoto{
  display: inline-block;
  width: 80%;
  margin-left: 5px;
}

#listingTitleName{
  margin-top: 15px;
  margin-bottom: 15px;
}

.listingDescriptCopyright{
  margin-top: 25px;
}

.listingMainBox{
  display: flex;
  flex-flow: row nowrap;
  background-color: pink;
}
.listingPictureSet{
  width:50%;
  background-color: blue;
}
.listingSideGallery{

  // width: 35%;
  // height: 35%;
  // margin-top: 10px;
  // margin-left: 45px;
  // display:flex;
  // flex-flow: column nowrap;
  // justify-content: center;
  background-color: purple;

}
#listingSidePicture{
  display: inline-block;
  width: 35%;
  background-color: red;
}

.listingSideGalleryInfo{
  margin-top: 15px;
  margin-bottom: 25px;
}

input {
  width: 100%;
}

#newPicture {
  display: block;
  background-color: yellow;
  width: 800px;
  padding: 15px 20px;
  font-family: 'Raleway', sans-serif;
}

#description {
  height: 200px;
  resize: none;
}

#submit {

}
