/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, /Users/martakatona/Devleague/express-gallery/sass/partials/_clear_fix.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, /Users/martakatona/Devleague/express-gallery/sass/partials/_clear_fix.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, /Users/martakatona/Devleague/express-gallery/sass/partials/_clear_fix.scss */
body {
  line-height: 1; }

/* line 34, /Users/martakatona/Devleague/express-gallery/sass/partials/_clear_fix.scss */
ol, ul {
  list-style: none; }

/* line 37, /Users/martakatona/Devleague/express-gallery/sass/partials/_clear_fix.scss */
blockquote, q {
  quotes: none; }

/* line 40, /Users/martakatona/Devleague/express-gallery/sass/partials/_clear_fix.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 2, /Users/martakatona/Devleague/express-gallery/sass/partials/_listing.scss */
.listingHeader {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 75px; }

/* line 11, /Users/martakatona/Devleague/express-gallery/sass/partials/_listing.scss */
.listingHeaderTitle {
  display: inline-block;
  font-size: 65px;
  font-weight: bold;
  font-family: 'IM Fell English', serif;
  font-weight: bold;
  width: 50%; }
  /* line 19, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/partials/_listing.scss */
  .listingHeaderTitle a {
    color: grey; }

/* line 26, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/partials/_listing.scss */
.listingHeaderText {
  display: inline-block;
  width: 50%; }

/* line 31, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/partials/_listing.scss */
.listingMainBox {
  display: flex;
  flex-flow: row;
  width: 1200px;
  margin-left: 200px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px; }

/* line 40, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/partials/_listing.scss */
.outerListingMainPhoto {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 1200px;
  height: 100%;
  background-color: teal; }

/* line 48, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/partials/_listing.scss */
.listingMainPhoto {
  background-color: orange;
  display: inline-block;
  width: 80%; }

/* line 53, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/partials/_listing.scss */
.listingMainPicture {
  display: inline-block;
  width: 100%;
  background-color: green; }

/* line 58, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/partials/_listing.scss */
#listingTitleName {
  margin-top: 15px;
  margin-bottom: 15px; }

/* line 62, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/partials/_listing.scss */
.listingDescriptCopyright {
  margin-top: 25px; }

/* line 66, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/partials/_listing.scss */
.listingSideGallery {
  width: 1200px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: purple; }

/* line 74, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/partials/_listing.scss */
.listingPictureSet {
  flex: 0 0 auto;
  width: 40%;
  background-color: blue;
  margin-left: 5px;
  margin-right: 5px; }

/* line 81, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/partials/_listing.scss */
#listingSidePicture {
  width: 50%;
  align: center;
  background-color: red; }

/* line 87, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/partials/_listing.scss */
.listingSideGalleryInfo {
  margin-top: 15px;
  margin-bottom: 25px; }

/* line 1, /Users/martakatona/Devleague/express-gallery/sass/partials/_gallery.scss */
.galleryHeader {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 75px; }

/* line 9, /Users/martakatona/Devleague/express-gallery/sass/partials/_gallery.scss */
.galleryHeaderTitle {
  display: inline-block;
  font-size: 65px;
  font-weight: bold;
  font-family: 'IM Fell English', serif;
  font-weight: bold;
  color: grey;
  width: 50%; }

/* line 19, /Users/martakatona/Devleague/express-gallery/sass/partials/_gallery.scss */
.galleryHeaderText {
  display: inline-block;
  width: 50%; }

/* line 23, /Users/martakatona/Devleague/express-gallery/sass/partials/_gallery.scss */
.galleryMainBox {
  display: flex;
  flex-flow: row;
  width: 1200px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 20px; }

/* line 31, /Users/martakatona/Devleague/express-gallery/sass/partials/_gallery.scss */
.galleryMainPicture {
  display: inline-block;
  width: 100%; }

/* line 35, /Users/martakatona/Devleague/express-gallery/sass/partials/_gallery.scss */
.galleryMainPhoto {
  display: inline-block;
  width: 60%;
  margin-left: 5px;
  font-family: 'Raleway', sans-serif; }

/* line 41, /Users/martakatona/Devleague/express-gallery/sass/partials/_gallery.scss */
#galleryTitleName {
  margin-top: 15px;
  margin-bottom: 15px; }

/* line 45, /Users/martakatona/Devleague/express-gallery/sass/partials/_gallery.scss */
.galleryDescriptCopyright {
  margin-top: 25px; }

/* line 48, /Users/martakatona/Devleague/express-gallery/sass/partials/_gallery.scss */
.gallerySideGallery {
  display: inline-block;
  width: 35%;
  height: 35%;
  margin-top: 10px;
  margin-left: 45px;
  flex-flow: column nowrap;
  justify-content: center; }

/* line 57, /Users/martakatona/Devleague/express-gallery/sass/partials/_gallery.scss */
#gallerySidePicture {
  display: inline-block;
  width: 100%; }

/* line 61, /Users/martakatona/Devleague/express-gallery/sass/partials/_gallery.scss */
.gallerySideGalleryInfo {
  margin-top: 15px;
  margin-bottom: 25px; }

/* line 1, /Users/martakatona/Devleague/express-gallery/sass/partials/_add.scss */
input {
  width: 100%; }

/* line 4, /Users/martakatona/Devleague/express-gallery/sass/partials/_add.scss */
#newPicture {
  display: block;
  background-color: yellow;
  width: 800px;
  padding: 15px 20px;
  font-family: 'Raleway', sans-serif; }

/* line 11, /Users/martakatona/Devleague/express-gallery/sass/partials/_add.scss */
#description {
  height: 200px;
  resize: none; }

/* line 5, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
body {
  background: #ffffff; }

/* line 9, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
a {
  text-decoration: none; }
