/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
body {
  line-height: 1; }

/* line 34, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
ol, ul {
  list-style: none; }

/* line 37, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
blockquote, q {
  quotes: none; }

/* line 40, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 49, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
body {
  background: #ffffff; }

<<<<<<< HEAD
/* line 53, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
.galleryHeader {
=======
/* line 53, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
.header {
>>>>>>> development
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 75px; }

<<<<<<< HEAD
/* line 62, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
.galleryHeaderTitle {
=======
/* line 62, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
.headerTitle {
>>>>>>> development
  display: inline-block;
  font-size: 65px;
  font-weight: bold;
  font-family: 'IM Fell English', serif;
  font-weight: bold;
  color: grey;
  width: 50%; }

<<<<<<< HEAD
/* line 73, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
.galleryHeaderText {
  display: inline-block;
  width: 50%; }

/* line 78, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
.galleryMainBox {
=======
/* line 73, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
.headerText {
  display: inline-block;
  width: 50%; }

/* line 78, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
.mainBox {
>>>>>>> development
  display: flex;
  flex-flow: row;
  width: 1200px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 20px; }

<<<<<<< HEAD
/* line 87, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
.galleryMainPicture {
  display: inline-block;
  width: 100%; }

/* line 93, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
.galleryMainPhoto {
=======
/* line 87, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
.mainPicture {
  display: inline-block;
  width: 100%; }

/* line 93, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
.mainPhoto {
>>>>>>> development
  display: inline-block;
  width: 60%;
  margin-left: 5px;
  font-family: 'Raleway', sans-serif; }

<<<<<<< HEAD
/* line 99, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
#galleryTitleName {
  margin-top: 15px;
  margin-bottom: 15px; }

/* line 104, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
.galleryDescriptCopyright {
  margin-top: 25px; }

/* line 108, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
.gallerySideGallery {
=======
/* line 100, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
#titleName {
  margin-top: 15px;
  margin-bottom: 15px; }

/* line 105, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
.descriptCopyright {
  margin-top: 25px; }

/* line 109, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
.sideGallery {
>>>>>>> development
  display: inline-block;
  width: 35%;
  height: 35%;
  margin-top: 10px;
  margin-left: 45px;
  flex-flow: column nowrap;
  justify-content: center; }

<<<<<<< HEAD
/* line 118, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
#gallerySidePicture {
  display: inline-block;
  width: 100%; }

/* line 123, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
.gallerySideGalleryInfo {
  margin-top: 15px;
  margin-bottom: 25px; }

/* line 129, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
.listingHeader {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 75px; }

/* line 138, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
.listingHeaderTitle {
  display: inline-block;
  font-size: 65px;
  font-weight: bold;
  font-family: 'IM Fell English', serif;
  font-weight: bold;
  color: grey;
  width: 50%; }

/* line 149, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
.listingHeaderText {
  display: inline-block;
  width: 50%; }

/* line 154, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
.listingMainBox {
  display: flex;
  flex-flow: row;
  width: 1200px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 20px; }

/* line 163, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
.listingMainPicture {
  display: inline-block;
  width: 100%; }

/* line 169, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
.listingMainPhoto {
  display: inline-block;
  width: 80%;
  margin-left: 5px; }

/* line 175, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
#listingTitleName {
  margin-top: 15px;
  margin-bottom: 15px; }

/* line 180, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
.listingDescriptCopyright {
  margin-top: 25px; }

/* line 184, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
.listingMainBox {
  display: flex;
  flex-flow: row nowrap;
  background-color: pink; }

/* line 189, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
.listingPictureSet {
  width: 50%;
  background-color: blue; }

/* line 193, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
.listingSideGallery {
  background-color: purple; }

/* line 205, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
#listingSidePicture {
  display: inline-block;
  width: 35%;
  background-color: red; }

/* line 211, /Users/BryanPeterson/Desktop/cohort13/express-gallery/sass/styles.scss */
.listingSideGalleryInfo {
=======
/* line 119, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
#sidePicture {
  display: inline-block;
  width: 100%; }

/* line 124, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
.sideGalleryInfo {
>>>>>>> development
  margin-top: 15px;
  margin-bottom: 25px; }

/* line 129, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
input {
  width: 100%; }

/* line 133, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
#newPicture {
  display: block;
  background-color: yellow;
  width: 800px;
  padding: 15px 20px;
  font-family: 'Raleway', sans-serif; }

/* line 141, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
#description {
  height: 200px;
  resize: none; }
