/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
body {
  line-height: 1; }

/* line 34, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
ol, ul {
  list-style: none; }

/* line 37, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
blockquote, q {
  quotes: none; }

/* line 40, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 49, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
body {
  background: #ffffff; }

/* line 53, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
.header {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 75px; }

/* line 62, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
.headerTitle {
  display: inline-block;
  font-size: 65px;
  font-weight: bold;
  font-family: 'IM Fell English', serif;
  font-weight: bold;
  color: grey;
  width: 50%; }

/* line 73, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
.headerText {
  display: inline-block;
  width: 50%; }

/* line 78, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
.mainBox {
  display: flex;
  flex-flow: row;
  width: 1200px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 20px; }

/* line 87, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
.mainPicture {
  display: inline-block;
  width: 100%; }

/* line 93, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
.mainPhoto {
  display: inline-block;
  width: 60%;
  margin-left: 5px; }

/* line 99, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
#titleName {
  margin-top: 15px;
  margin-bottom: 15px; }

/* line 104, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
.descriptCopyright {
  margin-top: 25px; }

/* line 108, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
.sideGallery {
  display: inline-block;
  width: 35%;
  height: 35%;
  margin-top: 10px;
  margin-left: 45px;
  flex-flow: column nowrap;
  justify-content: center; }

/* line 118, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
#sidePicture {
  display: inline-block;
  width: 100%; }

/* line 123, /Users/martakatona/Devleague/express-gallery/sass/styles.scss */
.sideGalleryInfo {
  margin-top: 15px;
  margin-bottom: 25px; }
