<!DOCTYPE html>
html(lang="en")
head
 meta(charset="UTF-8")
 title Login
body
  form(method="POST" action="/login")
    input(type="text" name="username")
    input(type="text" name="password")
    button(type="submit") Login
  a(href="/logout") Logout
  br
  a(href="/registration") Registration
  //- if errorMessage == true

  p hhh #{flashMessage}

