input {
  width: 100%;
}
#newPicture {
  display: block;
  background-color: yellow;
  width: 800px;
  padding: 15px 20px;
  font-family: 'Raleway', sans-serif;
}
#description {
  height: 200px;
  resize: none;
}