//UpperSet
.listingMainBox{
  display: flex;
  flex-flow:row;
  flex: 0 0 auto;
  width: 1200px;
  margin-left: 200px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
.outerListingMainPhoto{
  display:flex;
  flex-flow: row;
  justify-content: space-around;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.listingMainPhoto{
  display: inline-block;
  width: 80%;
}
.listingMainPicture{
  display: inline-block;
  width: 100%;
}
#listingTitleName{
  margin-top: 15px;
  margin-bottom: 15px;
}
.listingDescriptCopyright{
  margin-top: 25px;
}
//BottomSet
.listingSideGallery{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.listingPictureSet{
  flex: 0 0 auto;
  width:40%;
}
#listingSidePicture{
  width: 80%;
  height: 80%;
  display: block;
  margin: 0 auto;
}

.listingSideGalleryInfo{
  margin-top: 15px;
  margin-bottom: 25px;
}