//LISTING PAGE
.listingHeader{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 75px;
}

.listingHeaderTitle{
  display: inline-block;
  font-size: 65px;
  font-weight: bold;
  font-family: 'IM Fell English', serif;
  font-weight: bold;
  color: grey;
  width: 50%;

}

.listingHeaderText{
  display: inline-block;
  width: 50%;
}
//UpperSet
.listingMainBox{
  display: flex;
  flex-flow:row;
  width: 1200px;
  // margin: 0 auto;
  margin-left: 200px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
.outerListingMainPhoto{
  display:flex;
  flex-flow: row;
  justify-content: space-around;
  width: 1200px;
  height: 100%;
  background-color: teal;
}
.listingMainPhoto{
  background-color: orange;
  display: inline-block;
  width: 80%;
}
.listingMainPicture{
  display: inline-block;
  width: 100%;
  background-color: green;
}
#listingTitleName{
  margin-top: 15px;
  margin-bottom: 15px;
}
.listingDescriptCopyright{
  margin-top: 25px;
}
//BottomSet
.listingSideGallery{
  width: 1200px;
  height: 100%;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: purple;
}
.listingPictureSet{
  flex: 0 0 auto;
  width:40%;
  background-color: blue;
  margin-left: 5px;
  margin-right: 5px;
}
#listingSidePicture{
  width: 50%;
  align: center;
  background-color: red;
}

.listingSideGalleryInfo{
  margin-top: 15px;
  margin-bottom: 25px;
}