extends ../layout
include ./mixins

block title
  title Photo-Gallery

block body
  div.galleryMainBox
    div.galleryMainPhoto
      div.galleryMarginMainPicture
        p#galleryTitleName #{mainPicture.title}
        a(href='gallery/' + mainPicture.id)
         img.galleryMainPicture( src= mainPicture.link )
      div.galleryDescriptCopyright
        p#galleryDescription Description: #{mainPicture.description}
        p copyright:  + #{mainPicture.link}
    div.gallerySideGallery
       +picturesList(sidePictures)
