mixin picturesList(pictures)
  each picture in pictures
    div.galleryPictureSet
      a(href='gallery/' + picture.id)
      img#gallerySidePicture( src= picture.link)
      div.gallerySideGalleryInfo
        div#gallerySideTitle #{picture.title}
        div#gallerySideLink #{picture.link}

