extends ../layout.pug
include ./mixins.pug

block title
  title New Photo

block body
    div#newBox
      form#newPicture(action='/gallery/new' method='post' name='picture')
        fieldset.fieldset
          legend.legend Adding a picture to the gallery
            div
            label.label
              span Author:
              input#author(type= 'text' name='author' value=author)
            label.label
              span Title:
              input#title(type= 'text' name='title' value=title)
            label.label
              span Link:
              input#link(type= 'text' name='link' value=link)
            label.label
              span Description:
              input#description(type='textarea' name='description' value=description)
            br
            br
            input#submit(type='submit' value='Submit')
