extends ../layout.pug
include ./mixins.pug

block title
  title Photo-Gallery

block body
  div#gallery
    li  title:' + #{pictures.title} + 'url: ' + #{pictures.link}
    h3 First Pic
    img(class='picture', src= pictures.link )
  h3#header.headerClass Edit Pictures
  form(action=`/gallery/${pictures.id}/edit` method='POST' enctype="application/x-www-form-urlencoded")
    input(type="hidden" name="_method" value="PUT")
    input(value = pictures.author name='author')
    ='\n'
    input(value = pictures.link name='link')
    ='\n'
    input(value = pictures.description name='description')
    ='\n'
    input(value = pictures.title name='title')
    ='\n'
    input(type="hidden" name="oldtitle" value=`${pictures.title}`)
    br
    button(type='submit' name='put' value='submit') Edit Article
    br
