<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
    block title
  body
    header This is the header
    block body

    footer This is the footer