<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
    link(href="https://fonts.googleapis.com/css?family=IM+Fell+English:400i" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=IM+Fell+English:400i|Raleway" rel="stylesheet")
    block title
  body
    div.bigBoxContainer
      div.listingHeader
        div.listingHeaderTitle
          a(href='/') _ARCHITEKT
        div.listingHeaderText Sample text
        div.loginFunction
          form(method="POST" action="login")
            input(type="text" name="username")
            input(type="text" name="password")
            button(type="submit") Login
          form(method="GET" action="/logout")
            button(type="submit") Logout
      block body

      footer This is the footer